  *{
    padding-left: 20px;
  }

.aboutus{

  }

.background {
    padding-left: 5%;
    position: relative;
    height: 100vh;
    background-image: url("../assets/backpic.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .background::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
  }
  
.overlay {
    position: relative;
    z-index: 2;
    height: 100%;

  }
  
  .heading {
    color: white;
    font-size: 4rem;
    font-weight: 700;
    padding-top: 20%;
  }
  